.header__logo {
  display: block;
  max-width: 200px;
  margin-top: 30px;
}

.header__title {
  @include font(40px, 500, 1.2);
  text-align: center;
  margin: 30px 0 30px;
}

.header__subtitle {
  @include font(20px, 400, 1.2);
  padding-bottom: 30px;
}